# Diretórios de build (binário)
[Bb]in/
[Oo]bj/

# Arquivos do Visual Studio User (específicos do usuário)
*.suo
*.user
*.useros.suo

# Cache, Diretórios de Build e Pastas da IDE
.vs/
.vscode/

# Pacotes NuGet
*.nupkg
