name: CI/CD Pipeline

on: 
    push:
      branches: [main]
    pull_request:
      branches: [mmain]

jobs:
  build:
    runs-on: ubuntu-24.04

  steps:
  - name: checkout codigo
   uses: action/checkout@v3

 - name: Configurar Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Instalar dependências
      run: npm install

    - name: Rodar testes
      run: npm test

    - name: Build aplicação
      run: npm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Checkout código
      uses: actions/checkout@v3

    - name: Deploy (exemplo)
      run: echo "Aqui você colocaria o comando de deploy, como enviar para um servidor ou serviço de cloud"
     
